h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0; padding:0;}
p {margin: 0;}
html, body{
	font-size: 100%;
	background: #F4F4F4;
	/*background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
    width:100%;*/
  overflow-x:hidden;
}

.div-inline{display:inline} 

h1.b1,h2.b2,h3.b3 {
  margin-bottom:25px;
  display: block;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	text-decoration:none;
}
.row{
	margin:0;
}	
a#toTop{
  margin-top: 0;
}
.breadcrumb{
	margin:2em 0;
	text-align:left;
}
/*-- header_top --*/
.banner{
	background:#03257e;
	background-size:cover;
	min-height:416px;
	    padding-left: 4em;
		position:relative;
}
.banner-info {
	position:absolute;
	    left:23%;
    top: 25%;
    text-align: center;
    width: 54%;
    font-family: 'Fugaz One', cursive;

}
.banner-info a:hover{
  text-decoration: none;
}
.banner-info h2{
	font-size:5em;
  font-family: 'Fugaz One', cursive;
	color:#D0104C;
}

.banner-info p:before {
   content:"\201C";
   font-size:43px;
   margin-left:-10px;
   font-family:georgia,serif;
   color:#D0104C;
}
.banner-info p{
font-size:1.3em;
line-height:1.7em;
width:90%;
margin:0.8em auto;
color:#D0104C;
font-family:Helvitica,'ヒラギノ角ゴ Pro','冬青黑简体中文';
font-weight:bold;
}
#cyuuni_banner h5{
  font-size:1.3em;
  line-height:1.7em;
  width:90%;
  margin:0.8em auto;
  color:#D0104C;
  font-family:Helvitica,'ヒラギノ角ゴ Pro','冬青黑简体中文';
  text-align:right;
  font-weight:normal;
}

.logo a {
  background: url(../images/Logo.png) no-repeat center;
	background-size:100%;
  padding: 2em 0.4em;
  display: inline-block;
	color: #DDD;
  font-size: 35px;
  text-decoration:none;
}
.top-menu ul li{
	display:block;
}
.top-menu ul li a{
	color:#fff;
	display:block;
	padding:1.4em 1.3em;
	font-size:1em;
	text-decoration:none;
	background:#D0104C;
	font-family: 'Play-Regular';
}
.top-menu ul li a:hover{
	background:#fff;
	color:#D0104C;
}
span.menu {
	display: block;
	padding:1.15em 0;
	cursor: pointer;
	color: #D0104C;
	font-weight: 700;
	position: relative;
}
.top-menu {
	width: 100%;
	display:inline-block;
	text-align:center;
}
.top-menu ul li {
  float: none;
}
ul.nav1 {
	display: none;
}
.top-menu ul {
	padding: 0;
	margin: 0;
	z-index: 9999;
	position: absolute;
	width: 100%;
	left:0px;
}
.top-menu ul.nav1 li {
	 display: block;
	 text-align: center;
	 background:#333;	 
	 margin: 0;
	 width: 100%;

}
.top-menu ul li a {
	 padding: 1.5em 0;
	 display: block;
	 float: none;
}	
.top-menu ul li a i {
	margin-top: .5em;
}
.top-menu ul li a {
	padding: 0.8em 0;
  font-family:Helvitica,'ヒラギノ角ゴ Pro','冬青黑简体中文';
  font-size: 0.7em;
}

.side-menu{
	position:fixed;
	top:5%;
  left: 5%;
	z-index: 1;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.copy-rights{
	float:right;
	margin-top:2em;
}
.copy-rights ul li{
  padding: 0em;
  list-style:none;
  display:inline-block;
}
.copy-rights ul li a{
 display:inline-block;
 margin: 0em 0.4em 0.5em 0em;
}
.copy-rights ul li a span.fa {
  background-position: -3px 0px;
}
.copy-rights ul li a span.tw {
  background-position: -43px 0px;
}
.copy-rights ul li a span.g {
  background-position:-89px -1px;
}
.copy-rights ul li span.in {
  background-position: -132px -1px;
}
.copy-rights ul li a  span.pin {
  background-position:-178px -2px;
}
.copy-rights ul li span{
  background:url(../images/ftr-icons.png)no-repeat;
  width:34px;
  height:36px;
  display:block;
}
/*--about--*/
.about{
	padding:4em 0;
}
.about-top{
	text-align:center;
}
.about-top h3{
	color:#d0104c;
	font-size:3em;
	font-family: 'Fugaz One', cursive;
}
i.strp{
	display:block;
	background:#C9C9C9;
	margin:1em auto 3em auto;
	width:9%;
	height:1px;
}

.footer{
	background:#eee;
	padding:1em;
}
.copywrite{
	text-align:center;
	padding-top:6px;
}
.copywrite p, .copywrite p a {
  color: #999;
  font-size:0.9em;
}

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top1.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

#timeline time {
  color:#535953;
  font-size:0.5em;
  font-family: 'Fugaz One', cursive;
  position: absolute;
  top: 25%;
  left: 8%;
}

#year {
  font-size: 3em;
  color:#373C38;
  font-family: 'Fugaz One', cursive;
}

#cyuuni_detail h1{
    font-size: 2.5em;
    color:#d0104c;
    font-family: Palatino,Georgia,Cambria,'宋体-简','华文中宋','宋体',serif;
}
#cyuuni_detail h2{

    font-size: 1.9em;
    color:#d0104c;
    position: relative;
    text-align:right;
}



/*--responsive--*/
@media (max-width: 1440px){
.banner-info {
    left: 22%;
    width: 58%;
}
}
@media (max-width: 1366px){
.banner-info {
    left: 20%;
    width: 66%;
}
.banner {
    min-height: 450px;
}
}

@media (max-width: 1280px){
.banner {
    min-height: 400px;
}
}
@media (max-width: 1080px){

.copy-rights ul li a {
    margin: 0em 1em 0em 0em;
}

.banner {
    min-height: 400px;
    padding-left: 2em;
}
.banner-info h2 {
    font-size: 4em;
}
.logo a {
    font-size: 0.75em;
}
.side-menu {
    top: 9%;
}
.about-top h3{
    font-size: 2em;
}
}



@media (max-width: 991px){
	.banner{
	background:#03257e;
	background-size:cover;
	min-height:350px;
	padding-left: 4em;
	position:relative;
}

.logo a {
	font-size:0.55em;
	}
	
.banner-info h2 {
    font-size: 3.5em;
}

.banner-info p{
	font-size:0.9em;
}

#cyuuni_banner h5{
  font-size:0.9em;
}
.top-menu ul li a {
    padding: 0.7em 0;
    font-size: 0.75em;
}

}

@media (max-width: 800px){

.copy-rights ul li a {
    margin: 0em 1.6em 0em 0em;
}

.top-menu ul li a {
    padding: 0.7em 0;
    font-size: 0.7em;
}

.banner {
    min-height: 330px;
    padding-left: 0em;
}
#cyuuni_detail h1{
    font-size: 1.5em;
    color:#d0104c;
}
#cyuuni_detail h2{

    font-size: 1.05em;
    color:#d0104c;
    position: relative;
    text-align:right;
}
}


@media (max-width: 768px){

.top-menu ul li a {
    padding: 0.7em 0;
    font-size: 0.7em;
}


.copy-rights ul li a {
    margin: 0em 1em 0em 0em;
}

.banner {
    min-height: 320px;
    padding-left: 0em;
}
.logo{
		font-size: 0.55em
	}
.banner-info{
	top:25%;
	}
.banner-info h2 {
    font-size: 3em;
}
.footer {
    background: #eee;
    padding: 1em ;
}
.side-menu {
    top: 6%;
    left: 20px;
}

.banner-info p {
    font-size: 0.85em;
    width: 100%;
}

#cyuuni_banner h5{
    font-size: 0.85em;
    width: 100%;
}

}

@media(max-width:640px){

.banner{
		min-height: 290px;
	}

.banner-info h2 {

    font-size: 2.5em;
}
.banner-info p {
    font-size: 0.8em;
}

#cyuuni_banner h5{
    font-size: 0.8em;
}

.logo a {
    font-size: 0.45em;
}
.top-menu ul li a {
    padding: 0.7em 0;
    font-size: 0.65em;
}
.banner-info{
	top:28%;
}
#cyuuni_detail h1{
    font-size: 1.3em;
    color:#d0104c;
}
#cyuuni_detail h2{

    font-size: 1.05em;
    color:#d0104c;
    position: relative;
    text-align:right;
}

#timeline time {
  color:#535953;
  font-size:0.3em;
  font-family: 'Fugaz One', cursive;
  position: absolute;
  top: 25%;
  left: 8%;
}

#timeline h1{

  font-size: 1.3em;

}

#year {
  font-size: 3em;
  color:#373C38;
  font-family: 'Fugaz One', cursive;
}


}

@media(max-width:480px){

.top-menu ul li a {
    padding: 0.7em 0;
    font-size: 0.6em;
}


.copy-rights ul li span {
    width: 30px;
    height: 30px;
    background-size: 182px;
}
.copy-rights ul li a {
    margin: 0;
}
.copy-rights ul li a span.tw {
    background-position: -37px 0px;
}
.copy-rights ul li a span.g {
    background-position: -74px -1px;
}
.copy-rights ul li span.in {
    background-position: -111px -1px;
}
.copy-rights ul li a span.pin {
    background-position: -149px -2px;
}

.banner{
	background:#03257e;
	background-size:cover;
	min-height:250px;
	padding-left: 0em;
}
span.menu {
    padding: 0.7em 0;
}

.banner-info {
  position:absolute;
    top: 25%;
}
.banner-info h2 {
    font-size: 2em;
}
.side-menu {
    top: 5%;
    left: 13px;
}
.banner-info {
    left: 10%;
    width: 80%;
}
.banner-info p {
    font-size: 0.7em;
}

#cyuuni_banner h5{
    font-size: 0.7em;
}

.logo a {
    font-size: 0.4em;
}


i.strp {
    margin: 1em auto 2em auto;
}

.copywrite p, .copywrite p a {
    font-size: 0.8em;
}

#cyuuni_detail h1{
    font-size: 1.2em;
    color:#d0104c;
}
#cyuuni_detail h2{

    font-size: 1em;
    color:#d0104c;
    position: relative;
    text-align:right;
}



}

@media(max-width:320px){
.copy-rights ul li span {
    width: 30px;
    height: 30px;
    background-size: 182px;
}
.copy-rights ul li a {
    margin: 0;
}
.copy-rights ul li a span.tw {
    background-position: -37px 0px;
}
.copy-rights ul li a span.g {
    background-position: -74px -1px;
}
.copy-rights ul li span.in {
    background-position: -111px -1px;
}
.copy-rights ul li a span.pin {
    background-position: -149px -2px;
}

.logo a {
    font-size: 0.3em;
}

span.menu {
    padding: 0.7em 0.7em;
}


.banner-info h1 {
    font-size: 2em;
}
.banner-info p {
    font-size: 0.85em;
}

#cyuuni_banner h5{
    font-size: 0.85em;
}

.banner {
    min-height: 300px;
    background: #03257e;
    background-size: cover;
}

.grid1 {
    margin-bottom: 0em;
}

.about-top h3{
    font-size: 1.4em;
}

.line {
    margin: 4em auto 3em auto;
}
.strt-line {
    background: #eee;
    display: block;
    width: 2px;
    height: 33px;
}

#cyuuni_detail h1{
    font-size: 1.2em;
    color:#d0104c;
}
#cyuuni_detail h2{

    font-size: 1.1em;
    color:#d0104c;
    position: relative;
    text-align:right;
}

}

.blog-detail {
margin: 20px 8px 20px 8px;
}

