blog-index 
{
  font-family: 'Palatino', Georgia, "宋体", Heiti, "黑体", arial, serif;
  font-size: 40px;
  line-height: 1.6;
  /*padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px;*/
}
 
time{
  font-family: 'Palatino', Georgia, "宋体", Heiti, "黑体", arial, serif;  
    margin: 0px 0 30px;
}
 
a {
  color: #D0104C; }
a.absent {
  color: #cc0000; }
a:hover{ color:#D0104C}
a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }
 
 h1{
  font-family: 'Fugaz One','方正粗倩简体','冬青黑简体中文','黑体',Heiti, cursive;
  text-align:center;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; 
  margin: 0px 0 30px;
 }

 h2, h3, h4, h5, h6 {
  margin: 20px 0 20px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }
 
h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  background: url("../images/para.png") no-repeat 10px center;
  text-decoration: none; }


h1 {
  font-size: 38px;
  color: black; }
 
h2 {
  font-size: 30px;
  color: black;
  font-family: Palatino,Georgia,Cambria,'宋体-简','华文中宋','宋体',serif;
   }
 
 
p, blockquote, ul, ol, dl, li {
  font-size: 25px;
  margin: 3px 0;
  font-family: Palatino,Georgia,Cambria,'宋体-简','华文中宋','宋体',Serif;
}

.meta{
  font-size: 18px}


@media (max-width: 768px){

.blog-index h1{
  font-size: 1.4em;
}
.blog-index h2{
font-size: 1.1em;
}
.blog-index h3{
font-size: 1.05em;
}
.blog-index h4,h5,h6,p,blockquote, ul, ol, dl, li{
font-size: 1.05em;
}
.meta{
  font-size:0.8em;}
}

@media (max-width: 370px){

.blog-index h1{
  font-size: 1.2em;
}
.blog-index h2{
font-size: 1.1em;
}
.blog-index h3{
font-size: 1.05em;
}
.blog-index h4,h5,h6,p,blockquote, ul, ol, dl, li{
font-size: 1.05em;
}
.meta{
  font-size:0.8em;}
}





