{%  extends 'article/base.html'%}

{% block head %}
<title>MtKt's Blog-About</title>
{% endblock %}

{% block cyuuni %}
<a href="{{ cyuuni_byou.get_absolute_url }}"><p>{{cyuuni_byou.body}}<br/></p><div id=cyuuni_banner><h5> - {{cyuuni_byou.by}}</h5></div></a>
{% endblock %}

{%  block content  %}
<!---->
<div id="about" class="about">
	 <div class="container">
		 <div class="about-top">
		 <h3>About</h3>	  
				 <div class="clearfix"></div>
			 </div>
		 </div>
	 </div>
</div>
<!---->
<div class="blog-index">
<div class="container">
<div style="width:200px; height:200px; border-radius:50%; overflow:hidden; margin:0 auto">
<img src="../../static/article/images//MtKt.jpg">
</div>
</br>
</br>
<h1>MtKt</h1>
</br>
<p>Nothing</p>
<!---->
{% endblock %}
