{% extends 'article/base.html'%}



{% block head %}
<title>MtKt's Blog-Detail</title>
{% endblock %}

{% block cyuuni %}
    <p>{{cyuuni_byou.body}}<br/> - {{cyuuni_byou.by}}</p>
{% endblock %}

{%  block content %}

<div class="blog">
<div class="container">
    {% autoescape off %}
      <article>
        <header>
          <p class="meta">
          <br/>
            <time pubdate="{{ article.pub_date }}" data-updated="{{ article.last_edit_date }}">
              {{ article.pub_date|date:'M'|upper }}
              {{ article.pub_date|date:"dS"|upper}}, {{ article.pub_date.year }}
            </time>
          </p><br/>
          <h1 class="title-link">
            <div style="color: #D0104C;">
            <b>{{ article.title }}</b>
          </h1>
          <br/>
        </header>
        <blog-detail>
        {{ article.display_html }}
        </blog-detail>
      </article>
      <br/><br/><br/><br/>
    {% endautoescape %}
{% endblock %}